.wrapper
  = render 'shared/chat-side'
  .chat-main
    .main-header
      .main-header__current-group{"data-group_id" => "o"}
        %h2.main-header__current-group_name タイトル
        %ul.main-header__current-group_member-list
          Member :
          %li.main-header__current-group_member-list_name
            aaa
      %a.main-header__edit-btn{ href: 'groups/0/edit'}
        Edit
    .messages
      .messages-message{"data-message_id" => "o"}
        .messages-message__info
          %p.messages-message__info_name IWAMA
          %p.messages-message__info_date 2019/04/08(Mon) 10:00:00
        %p.messages-message__text YES
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
